form{
    width: 100%;
  }
  .form-container{
    width:100%;
  padding: 1rem;
  list-style-type: none;
  }
  .form-container li{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  input{
    padding: 1rem;
    border: 00.1rem #c0c0c0 solid;
  }
  .button{
    padding: 0.5rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
    color: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  }
  .button:hover{
    border: 0.1rem #808080 solid;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  }
  .button-primary{
    background-color: #5947a1;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  }